


body {
   background-color: #929292ad;
    margin: 0;
}

 #menu {
    background-color:#eb43c6a6;
    width: 300PX;
    height: 1500PX;  
    text-align: center;
    margin-top: -32px;
}


.logo {
   width: 160px;
   margin-top: 90px;
   border: 5px double #fc23e6;
   border-radius: 50%;
   box-shadow: 5px 5px 5px rgba(203, 248, 255, 0.4);
}


h1, h2 {
   font-size: 1.8rem;
   font-family: sans-serif;
   color: #ffffff;
text-shadow:5px 5px 5px rgba(124, 219, 219, 0.726);
}


h2 {
   font-size: 1.3rem;
   color:rgb(255, 255, 255);
   text-shadow: 5px 5px 5px rgba(225, 0, 255, 0.753);
}


h3{
   font-size: 1.5rem;
color: rgb(84, 183, 190);
text-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);
}


li{
   font-size: 1.1rem;
}


.links1{
text-decoration: none;
color: #ffffff;
font-size: 1.5rem;
font-family: sans-serif;
display: flex;
flex-direction: column;
padding: 1rem 0;
transition: all 0.7s ease;
text-shadow:5px 5px 5px rgb(0, 0, 0);
}


.links1:hover{
background-color: #ffffff;
color: rgb(54, 53, 53);
text-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);
}


header{
   float: left;
}


.info01 { background-color: rgb(255, 255, 255);
    margin: 2rem 1rem 0.5rem 21rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px  rgb(192, 33, 184);
}


.info02 {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem 0;
    box-shadow: 5px 5px 5px  rgb(192, 33, 184);
    width: 300px;
    height: 200px;
    min-height: 50px;
   transition: all 0.3s ease;
}
.info02 summary::-webkit-details-marker {
    display: none;
}
.info02 p {
    margin-top: 1rem;
    line-height: 1.5; 
    word-wrap: break-word; 
    color: #333;
}
.info02[open] {
    height: auto;
}



.info03 {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem 0;
    box-shadow: 5px 5px 5px  rgb(192, 33, 184);
    width: 300px;
    height: 200px;
}


.info04 {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem 0;
    box-shadow: 5px 5px 5px rgb(192, 33, 184);
    width: 300px;
    height: 200px;
}


.info05 {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem 0;
    box-shadow: 5px 5px 5px rgb(192, 33, 184);
    width: 300px;
    height: 200px;
}

.info06 {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem 0;
    box-shadow: 5px 5px 5px rgb(192, 33, 184);
    width: 300px;
    height: 200px;
}

.info07 {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem 0;
    box-shadow: 5px 5px 5px  rgb(192, 33, 184);
    height: 200px;
}

.info08 {
    background-color: rgb(255, 143, 212);
    margin: 2rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem 0;
    box-shadow: 5px 5px 5px rgb(192, 33, 184);
    width: 300px;
    height: 200px;
}

#conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: rgb(77, 204, 243);
    color: rgb(71, 26, 233);
    font-size: 2.0rem;
    text-align: center;
    font-family: sans-serify;
    clear: both;
    padding: 1.5;
  } 

  p, li, summary {
    color:rgb(89, 214, 198);
    font-family: sans-serify; 
  }

  p{
    font-size: 1.3rem;

  }



